.header {
  background-color: teal;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 24px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100vw;
  padding: 32px 64px;
}

.input {
  height: 32px;
  width: 512px;
  margin-right: 32px;
  border-radius: 8px;
  font-size: 16px;
}

.button {
  height: 32px;
  width: 64px;
  background-color: azure;
  color: teal;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 8px;
  border: 2px solid teal;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: teal;
  color: azure;
  font-weight: bolder;
}

.todoItem {
  height: 32px;
  padding: 16px 24px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  text-align: left;
  border: 0.5px solid grey;
}

.todoItem-completed {
  height: 32px;
  padding: 16px 24px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  text-align: left;
  border: 0.5px solid grey;
  background-color: darkgray;
}

.label {
  font-size: 24px;
  font-weight: bold;
  margin: 4px 0;
}

.label-completed {
  font-size: 24px;
  text-decoration: line-through;
  margin: 4px 0;
}
.date-time {
  font-size: 12px;
  margin: 0;
}
.todoList {
  width: 720px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkmark-button {
  margin-left: auto;
  margin-right: 0;
  height: 32px;
  width: 64px;
  font-size: 24px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(54, 114, 39);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkmark-button-completed {
  margin-left: auto;
  margin-right: 0;
  height: 32px;
  width: 64px;
  font-size: 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(12, 14, 20);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button {
  margin-left: 5px;
  margin-right: 0;
  height: 32px;
  width: 64px;
  font-size: 18px;
  background-color: white;
  font-weight: 200;
  border-radius: 8px;
  border: 2px solid red;
  cursor: pointer;
}

@media screen and (max-width: 728px) {
  .todoList {
    width: 512px;
  }
}

@media screen and (max-width: 512px) {
  .todoList {
    width: 350px;
  }
  .input {
    width: 350px;
  }
}
